/*
Theme Name: Eponymous 4 2015
Author: Greg Bueno
Author URI: http://vigilantmedia.com/
Description: A WordPress theme customized for Eponymous 4, based on the Observant Records theme.
Template: observantrecords2015
Version: 2.4.3
Text Domain: eponymous4
*/
@import url(../observantrecords2015/style.css);body{background-color:#F0F0F0;color:#3E4561}#masthead{background-color:#252525}#title{margin-top:10px}#content #featured{margin-bottom:1.5em}table.track-table{margin-top:1em}table.track-table thead th{border:1px solid #3E4561;background-color:#F16543}table.track-table tbody tr:nth-child(2n) td{background-color:inherit}table.track-table tbody td{border:1px solid #3E4561}@media screen and (min-width: 970px){#masthead.masthead-home{background-image:url("assets/images/restraint-back-cover-cropped.jpg");background-repeat:no-repeat;height:275px}}@media screen and (min-width: 750px) and (max-width: 992px){#masthead{background-image:url("assets/graphics/crossed_stripes.png");height:auto}}@media screen and (min-width: 750px){#nav-header{padding:1em 0 1em 0;text-align:left}#nav-header ul.links li{display:inline-block;margin:0;padding:0;margin-left:24px}#nav-header ul.links li:first-child{margin-left:0}}@media screen and (max-width: 768px){#masthead{background-image:url("assets/graphics/crossed_stripes.png");height:auto}}a{color:#5483CC}a:hover{color:#F16543}body{font-family:"Istok Web","Helvetica","Arial",sans-serif}h1,h2,h3,h4,h5,h6{color:#3E4561}#masthead a,#masthead a:hover{color:#FFF}#title{font-family:'Merriweather Sans', 'Lucida Sans Unicode', sans-serif;font-size:54px;text-transform:lowercase}#title a{text-decoration:none;color:#FFF}@media screen and (max-width: 768px){#title{font-size:36px}}
/*# sourceMappingURL=style.css.map */
